@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Founders Grotesk X";
    src: url('./font/FoundersGrotesk-Bold.woff') format('woff');
    
}

@font-face {
    font-family: "Neue Montreal";
    src: url('./font/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal; /* Specifying font-weight */
    font-style: normal; /* Specify font-style */
}

@font-face {
    font-family: "Founders Grotesk X";
    src: url('./font/FoundersGrotesk-Semibold.woff') format('woff');
    
}